body {
    font-family: "Times New Roman", sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}

h1 {
    font-size: 64px;
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 32px;
    text-shadow: 5px 5px 5px #808080;
}

p {
    font-size: 24px;
    padding-top: 15px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

div {
    min-height: 150px;
    padding: 25px; 
}

div#red {
    background-color: #FF0000;
    text-align: right;
}

div#blue {
    background-color: #0000FF;
    text-align: left;
}

div#yellow {
    background-color: #FFFF00;
    text-align: right;
}

#yellow p {
    color: #000000;
}

#yellow h2 {
    color: #000000;
    text-shadow: 5px 5px 5px #C7E2C7;
}

div#green {
    background-color: #008000;
    text-align: left;
}

footer p {
    text-align: center;
    padding: 0px 10px 10px 0px;
}